html,
body {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

h2 {
  color: #777;
}

h4 {
  color: #999;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl_btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl_btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl_btn::selection {
  background: none;
}
.tgl + .tgl_btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl_btn:after, .tgl + .tgl_btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl_btn:after {
  left: 0;
}
.tgl + .tgl_btn:before {
  display: none;
}
.tgl:checked + .tgl_btn:after {
  left: 50%;
}

.tgl_light + .tgl_btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.tgl_light + .tgl_btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.tgl_light:checked + .tgl_btn {
  background: #9FD6AE;
}

.tgl_ios + .tgl_btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}
.tgl_ios + .tgl_btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl_ios + .tgl_btn:hover:after {
  will-change: padding;
}
.tgl_ios + .tgl_btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl_ios + .tgl_btn:active:after {
  padding-right: .8em;
}
.tgl_ios:checked + .tgl_btn {
  background: #86d993;
}
.tgl_ios:checked + .tgl_btn:active {
  box-shadow: none;
}
.tgl_ios:checked + .tgl_btn:active:after {
  margin-left: -.8em;
}

.tgl_skewed + .tgl_btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl_skewed + .tgl_btn:after, .tgl_skewed + .tgl_btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl_skewed + .tgl_btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl_skewed + .tgl_btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl_skewed + .tgl_btn:active {
  background: #888;
}
.tgl_skewed + .tgl_btn:active:before {
  left: -10%;
}
.tgl_skewed:checked + .tgl_btn {
  background: #86d993;
}
.tgl_skewed:checked + .tgl_btn:before {
  left: -100%;
}
.tgl_skewed:checked + .tgl_btn:after {
  left: 0;
}
.tgl_skewed:checked + .tgl_btn:active:after {
  left: 10%;
}

.tgl_flat + .tgl_btn {
  padding: 2px;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl_flat + .tgl_btn:after {
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl_flat:checked + .tgl_btn {
  border: 4px solid #7FC6A6;
}
.tgl_flat:checked + .tgl_btn:after {
  left: 50%;
  background: #7FC6A6;
}

.tgl_flip + .tgl_btn {
  padding: 2px;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl_flip + .tgl_btn:after, .tgl_flip + .tgl_btn:before {
  display: inline-block;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl_flip + .tgl_btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl_flip + .tgl_btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl_flip + .tgl_btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl_flip:checked + .tgl_btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl_flip:checked + .tgl_btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl_flip:checked + .tgl_btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}

